*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background-color: #6c6877;
}

article {
  margin: 200px auto;
  background-color: #b98196;
  width: 400px;
  border-bottom: 2px solid #cdc6b2;
  border-radius: 4px;
  box-shadow: 0px 5px #cdc6b2;
  padding: 10px;
}
p {
  text-align: center;
  color: #cdc6b2;
  margin: 10px 0;
}
h4,
h1 {
  color: #bcdaba;
  text-align: center;
  margin: 10px 0 ;
}
h1 {
  border-bottom: 2px solid #cdc6b2;
}
ul {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;

}
ul li {
  list-style: none;
}
ul li a i {
  color: white;
  border: 12px solid #cdc6b28d;
  border-radius: 100%;
}
