<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="./images/logo.svg" alt="Logo of the magazine 'Le monde'">
        <ul>
            <li><a href="#news"> News </a></li>
            <li><a href="#buzz"> Buzz </a></li>
            <li><a href="#sport"> Sport </a></li>
            <li><a href="#economy"> Economy </a></li>
        </ul>
    </header>
    <main>
        <section>
            <h1 id="#news"> News </h1>
            <article>
                <h2>Big Article</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus error maiores culpa mollitia corporis consectetur a officiis tenetur eligendi deleniti ratione odio necessitatibus, aperiam, dolorum asperiores quos cumque? Cumque, sit.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ad. Soluta nemo minus, quasi rem fuga, laboriosam recusandae ipsa nesciunt, qui illo magni repellendus numquam quibusdam fugit et doloremque voluptate?</p>
            </article>
        </section>
        <div class="article-container">
            <article>
                <h2>Small Article</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora esse possimus ex recusandae, natus corrupti fugit in eum corporis commodi voluptatem quaerat dolorum? Impedit magni praesentium commodi deserunt facilis corrupti.</p>
            </article>
            <article>
                <h2>Small Article</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora esse possimus ex recusandae, natus corrupti fugit in eum corporis commodi voluptatem quaerat dolorum? Impedit magni praesentium commodi deserunt facilis corrupti.</p>
            </article>
            <article>
                <h2>Small Article</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora esse possimus ex recusandae, natus corrupti fugit in eum corporis commodi voluptatem quaerat dolorum? Impedit magni praesentium commodi deserunt facilis corrupti.</p>
            </article>
        </div>
    </main>
</body>
</html>