<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <section class="banner">
            <h1> My website</h1>
            <p>A website created by me.</p>
        </section>
        <nav >
            <div class="nav-bar">
                <a href="">Link</a>
                <a href="">Link</a>
                <a href="">Link</a>
            </div>
            <a href="">Link</a>
        </nav>
    </header>
    <main>
        <section class="side">
            <h2 class="fixed-margin">About Me</h2>
            <h5 class="fixed-margin">Photo of me:</h5>
            <div class="fakeimg large fixed-margin">Image</div>
            <p class="fixed-margin">some TExt about me</p>
            <h3 class="fixed-margin">more text</h3>
            <div class="fakeimg small fixed-margin" >Image</div>
            <div class="fakeimg small fixed-margin" >Image</div>
            <div class="fakeimg small fixed-margin" >Image</div>
            <h3  class="fixed-margin">Contact Me</h3>
            <p class="fixed-margin">Some text.</p>
        </section>
        <section class="main"> 
            <h2 class="fixed-margin" >TITLE HEADING</h2>
            <h5 class="fixed-margin " >Title description, dec 7, 2017</h5>
            <div class="fakeimg large fixed-margin">Image</div>
            <p class="fixed-margin" >some Text</p>
            <p class="fixed-margin" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis ullam tenetur architecto quibusdam et. Facere assumenda nisi impedit maiores! Quidem fuga vel libero soluta impedit architecto dolorum quisquam quos labore?</p>
            <h2 class="fixed-margin" >TITLE HEADING</h2>
            <h5 class="fixed-margin " >Title description, dec 7, 2017</h5>
            <div class="fakeimg large fixed-margin">Image</div>
            <p class="fixed-margin" >some Text</p>
            <p class="fixed-margin" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis ullam tenetur architecto quibusdam et. Facere assumenda nisi impedit maiores! Quidem fuga vel libero soluta impedit architecto dolorum quisquam quos labore?</p>
        </section>
    </main>
    <footer>
        <h1>
            Footer
        </h1>
    </footer>
</body>
</html>