<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout exercise</title>
    <link rel="stylesheet" href="layout-exercise.css" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="84.498"
      height="94"
      viewBox="0 0 84.498 94"
    ></svg>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/7fe229702a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="Transition-card.css" />
  </head>
  <body>

 
    <header class="container-fluid">
        <section class="">
      <ul class="d-flex justify-content-between">
        <li class="logo">Froala</li>
        <li class="header-hidden">
          <ul class="  d-flex justify-content-end d-grid gap-2">
            <li>Home</li>
            <li>Features</li>
            <li>Pricing</li>
            <li>Team</li>
            <li>Contact</li>
          </ul>
        </li>
        <li>
          <ul class="d-flex justify-content-start d-grid gap-1">
            <li>Log in</li>
            <li>
              <button type="button" class="btn btn-primary">Register</button>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    </header>

    <div class="space"></div>

    <main class="container-fluid">
      <article class="text-center d-grid gap-4 mx-4">
        <h1>Froala Design Blocks</h1>
        <p class="text-start multi-columns-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
          doloribus, assumenda dolorem vitae culpa at. Doloremque enim natus
          voluptate amet voluptatum. Tenetur maiores et reiciendis quod deleniti
          sequi tempore laudantium.lorem Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Magnam sint blanditiis in, animi minima vero
          deserunt! Facilis ipsa adipisci optio porro facere pariatur nihil,
          saepe voluptates fugiat est accusamus cupiditate. Lorem ipsum dolor
          sit amet consectetur, adipisicing elit. Nesciunt repellendus labore
          perspiciatis accusantium eos expedita similique? Velit amet, aliquid
          unde delectus ut quam vitae ullam fugiat, iusto, adipisci voluptatem
          eius!lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore maxime sit praesentium vel a. Fugiat porro ab culpa magni optio sequi? Quam delectus, nam sit voluptatem recusandae obcaecati fugit repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, provident dolorum tempora tempore voluptate repellat quos eum iusto velit sint voluptatum odit consequuntur, explicabo consectetur, vitae at debitis. Voluptates, tempora.
        </p>
      </article>

      <div class="space"></div>

      <section>
        <section class="text-center d-grid gap-4 mx-5">
          <h1>Contact Us</h1>
          <p class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequuntur voluptates iusto, tenetur tempore
          </p>
        </section>

        <section class="d-flex flex-column ">

          
            <form class="d-flex  row-form justify-content-between">
              <div class="mb-3 col-5 ">
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Subject"
                />
              </div>

              <div class="mb-3 col-5 ">
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="How can we help ?"
                />
              </div>
            </form>
      

         
            <form class="contact ">
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Subject"
                />
              </div>

              <div class="mb-3">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
              </div>

           
            </form>
            <button type="submit" class="btn btn-primary contact-button">Submit</button>
        
        </section>
      </section>
    </main>

    <div class="space"></div>

    <footer class="container-fluid">
        <!--  -->
      <ul class="list-inline">
        <li class="col-3 list-inline-item">
          <ul >
            <li class="my-3">Group 1</li>
            <li>Home</li>
            <li>Features</li>
            <li>Pricing</li>
            <li>Team</li>
            <li>Contact Us</li>
          </ul>
        </li>
        <li class="col-3 list-inline-item">
          <ul >
            <li class="my-3">Group 1</li>
            <li>Home</li>
            <li>Features</li>
            <li>Pricing</li>
            <li>Team</li>
          </ul>
        </li>

        <li class="col-3 list-inline-item">
          <ul >
            <li class="text-start my-3">About Us</li>
            <li class="text-start my-3">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
                esse nobis beatae deserunt quo facilis ut expedita temporibus
                dolores laudantium,
              </p>
            </li>
          </ul>
        </li>

        <li class="col-1 list-inline-item">
          <ul>
            <li class="my-3">Follow Us</li>
            <li>
              <div class="icon-groupe">
              <a href=""><i class="fa-brands fa-facebook"></i></a>  
                <a href=""><i class="fa-brands fa-pinterest"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </div>
            </li>
          </ul>
        </li>
      </ul>

      <ul>
        <li class="text-center">@2018 Froala. All Rights Reserved</li>
      </ul>
    </footer>

  </body>
</html>
